parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        - identifier: missingType.iterableValue # todo

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - ./dir/dir/FileToBeExcluded.php

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    checkExplicitMixedMissingReturn: true
